img{
    height: 30px;
    padding-right: 15px;
}

#cabecera{
    background-image: url('../images/1.jpg');
}

#imgcabecera{
    position: relative;
    left: 50px;
    top: 50px;
}

#textocabecera{
    position: relative;
    top: -120px;
}

table{
    margin-left: 10px;
}

.puntuaciones{
    display: flex;
    margin-left: 5px;
}
.pintado{
    margin: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    justify-content: center;
    border: 1px solid black;
}

.no_pintado{
    margin: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
}
